[user]
	name = teetee971
	email = teetee971@users.noreply.github.com
[safe]
	directory = /storage/emulated/0/Download
	directory = /storage/emulated/0/Download
	directory = /storage/emulated/0/Download
	directory = /storage/emulated/0/Download
	directory = /storage/emulated/0/Download
	directory = /storage/emulated/0/Download
	directory = /storage/emulated/0/projects/akiprisaye-web
[credential]
	helper = store
